<!-- <p>
 BRGAAP COPORATION © LICENSE AAP
</p> -->

<footer _ngcontent-c10="" class="docs-footer">
  <div _ngcontent-c10="" class="docs-footer-list">
    <div _ngcontent-c10="" class="docs-footer-logo">
      <div _ngcontent-c10="" class="footer-logo">
        <img _ngcontent-c10="" alt="LICENSE APP" class="docs-footer-angular-logo" src="../../assets/img/SIPEF.png">

      </div>
    </div>
        <div _ngcontent-c10="" class="docs-footer-version">
          <span _ngcontent-c10="" class="version">Versão Corrente: 2.0.0&nbsp; </span>
        </div>
        <div _ngcontent-c10="" class="docs-footer-copyright">
          <span _ngcontent-c10=""> BRGAAP CORPORATION © 2018.</span>
        </div>
      </div>
    </footer>
