.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 5%;
  }
  
  .example-margin {
    margin: 0 10px;
    margin-bottom: 5%;
  }
  .checkbox{
      margin-bottom: 3%;
  }