<h1>Movimentação entre contas</h1>
    <table style="margin-bottom: 4%; margin-left: auto; margin-right: auto; overflow: auto; border: 1px solid #555; width: 54%;">
      <tr tr class="table-info"> 
        
          <td colspan="3">
              <mat-form-field style="width: 100%; ">
                  <mat-label>Conta bancária</mat-label>
                  <mat-select placeholder="Conta financeira"  [(value)]="contaFinaceira" #singleSelect>
                      <mat-option>
                          <ngx-mat-select-search [formControl]="contaFinanceiraFilterCtrl"></ngx-mat-select-search>
                      </mat-option>                 
                      <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let contaFinanceira of filteredContaFinanceira | async" [value]="contaFinanceira">
                      {{contaFinanceira.conta}} | {{contaFinanceira.descricao}} - {{contaFinanceira.empresa}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>        
          </td>  

            <td colspan="0">
                <mat-form-field style="width: 100%;" >
                    <mat-label>Data</mat-label>
                    <input matInput [matDatepicker]="picker1" [(value)]="inicio" (dateChange)="dataInicio('input',$event,1)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </td>       
            
       
            <td colspan="0">
                <button [disabled]='contaFinaceira==null' style="width: 100%;"  mat-raised-button (click)="pesquisar()">Pesquisar</button>
            </td> 
      
      </tr>
    </table>       
<mat-card>      
  <button title="Adicionar" style="float: left" [disabled]="contaFinaceira==null" mat-raised-button	color="accent" (click)="addMovimentacaoBancaria()">Adicionar</button>
</mat-card>

<mat-table #table [dataSource]="dataSource">

  <!-- Id Column -->
  <!-- <ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> Id </th>
  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
</ng-container> -->
<!-- Conta origem -->

<ng-container matColumnDef="contaOrigem">
  <mat-header-cell *matHeaderCellDef> Origem </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.contaOrigem}} </mat-cell>
</ng-container>   
<!-- Conta destino -->
<ng-container matColumnDef="contaDestino">
    <mat-header-cell *matHeaderCellDef> Destino </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.contaDestino}} </mat-cell>
  </ng-container>    
  
<!-- TipoMov -->
  <ng-container matColumnDef="tipoMov">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.tipoMov}} </mat-cell>
  </ng-container> 
  
  <!-- cnpj  Identificador Fiscal -->
  <ng-container matColumnDef="dataMovimentacao">
    <mat-header-cell *matHeaderCellDef> Data movimentação </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.dataMovimentacao | date: 'dd/MM/yyyy' }} </mat-cell>
  </ng-container>

  <!-- cnpj  Identificador Fiscal -->
  <ng-container matColumnDef="data">
      <mat-header-cell *matHeaderCellDef> Data do lançamento </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>
  
   <!-- cnpj  Column -->
   <ng-container matColumnDef="debito">
    <mat-header-cell *matHeaderCellDef> Débito </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span *ngIf="element.debito>0" style="color: red;">{{element.debito | currency:'R$'}}</span>
      <span *ngIf="element.debito==0"> {{element.debito | currency:'R$'}} </span>
    </mat-cell>
  </ng-container>  
  
   <!-- cnpj  Column -->
   <ng-container matColumnDef="credito">
    <mat-header-cell *matHeaderCellDef> Crédito </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <span *ngIf="element.credito>0" style="color: green;">{{element.credito | currency:'R$'}}</span>
      <span *ngIf="element.credito ==0"> {{element.credito | currency:'R$'}} </span>
    </mat-cell>
    </ng-container>

  <!-- cnpj  Identificador Fiscal -->
  <ng-container matColumnDef="desfazer">
      <mat-header-cell *matHeaderCellDef> Desfazer </mat-header-cell>
      <mat-cell *matCellDef="let element">            
          <mat-checkbox  color="primary" [checked]="element.desfazer" (click)="openDialogDesfazer(element.id)">              
          </mat-checkbox>
         </mat-cell>
    </ng-container>  
    
     <!-- Razao social Column -->
  <ng-container matColumnDef="usuario">
    <mat-header-cell *matHeaderCellDef> Usuário </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.usuario}} </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[6, 10]" showFirstLastButtons></mat-paginator>
