<mat-card-content>
<div class="wrapper">
  <form  (ngSubmit)="onSubmit(usuarioFrm)"  [formGroup]="usuarioFrm">
    <h2 style="text-align:center">
      Alterar senha
    </h2> 
  
  <div>
    <mat-form-field appearance="outline">
    <mat-label>Senha antiga</mat-label>
    <input matInput type="password" placeholder="Senha Antiga" formControlName="passwordOld">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
    <mat-error *ngIf="formErrors.passwordOld">
      {{ formErrors.passwordOld }}
    </mat-error>
  </mat-form-field>
  </div>
  
  <div>
    <mat-form-field appearance="outline">
    <mat-label>Nova senha</mat-label>
    <input matInput type="password" placeholder="Nova senha" formControlName="newPassword">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
    <mat-error *ngIf="formErrors.newPassword">
      {{ formErrors.newPassword }}
    </mat-error>
  </mat-form-field>
  </div>
  
  <div>
    <mat-form-field appearance="outline">
    <mat-label>Confirmar nova senha</mat-label>
    <input  type="password" matInput placeholder="Confirmar senha" formControlName="confirmPassword">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
    <mat-error *ngIf="formErrors.confirmPassword">
      {{ formErrors.confirmPassword }}
    </mat-error>
  </mat-form-field>
  </div>
  
    <div>
      <button type="button" mat-raised-button color="warn" (click)="dialog.closeAll()">Cancelar</button>&nbsp;
      <button type="submit" mat-raised-button color="primary" [disabled]="usuarioFrm.invalid">Alterar</button>
    </div>
  
    </form>
</div>
</mat-card-content>